<h3 class="handtekening">Warre Heeren</h3>
<h5>INTERESTS</h5>
<div class="container">
    <div class="row">
        <div class="col-6 text-center">
            <div class="kaart">
                <h4>IT</h4>
                <ul>
                    <li>HTML5</li>
                    <li>C#</li>
                    <li>CSS</li>
                    <li>BOOTSTRAP</li>
                    <li>ANGULAR</li>
                    <li>SQL</li>
                    <li>TYPESCRIPT</li>
                </ul>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="kaart">
                 <h4>ANDERE</h4>
                 <ul>
                     <li>VOETBAL</li>
                     <li>TENNIS</li>
                     <li>GAMEN</li>
                     <li>FILMS</li>
                     <li>PILS</li>
                     <li>FIETSEN</li>
                     <li>VRIENDEN</li>
                 </ul>
            </div>
        </div>

    </div>

</div>
