ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    padding: 25px;
    margin: 0;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3px;
    
}
.handtekening{
    text-align: center;
    font-family: "Breathing";
    padding: 80px;
}

  