/* You can add global styles to this file, and also import other style files */
@font-face {
    src: url(./assets/Breathing.ttf);
    font-family: "Breathing";
}

h5
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom:3px;
    padding-top: 1rem;
    width: fit-content;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;

    &::before {
        width: 2.5rem;
        height: 0.5rem;
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: #ffc145;
    }
}
h1
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 75px;
}
.kaart{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: auto;
    padding: 1.5rem;
    margin: 1.5rem;
}
.kaart:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
  }