h1
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 75px;
}

p
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 350px;
}

.handtekening
{
    text-align: center;
    font-family: "Breathing";
}

.vertical-border {
    border-right: 1px solid #ffc145;
    width: fit-content;
    margin: auto;
}

.card {
    padding: 1rem;
    background-color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}