h1
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 75px;
}
h5
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom:1px solid #CCC;
    float:left;
    width:100%;
    padding-bottom:3px;
    margin-top: 80px;
    margin-bottom: 80px;
}
p
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 350px;
}
.handtekening
{
    text-align: center;
}