<h1>Warre Heeren</h1>
<h5>ABOUT ME</h5>
<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst
    in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar
    husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel
    onveranderd, overgenomen in elektronische letterzetting.</p>
<h3 class="handtekening">Warre Heeren</h3>
<h5>PERSONAL INFO</h5>
<div class="container">
    <div class="row">
        <div class="col-5 text-right">
            <ul>
                <li>qfsf</li>
                <li>qsfsq</li>
                <li>sfsqfs</li>
            </ul>
        </div>
        <div class="col-2">
            <div class="vertical-border h-100"></div>
        </div>
        <div class="col-5">
            <ul>
                <li>sfds</li>
                <li>sfsqfs</li>
                <li>sqfsqfd</li>
                <li>dsfjdsqmf</li>
            </ul>
        </div>
    </div>
</div>
