.handtekening{
    text-align: center;
    font-family: "Breathing";
    padding-top: 80px;
    padding-bottom: 50px;
}
ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    padding: 20px;
    
}
