<h3 class="handtekening">Warre Heeren</h3>
<h5>EXPERIENCE</h5>
<div class="container">
   <div class="row">
      <div class="col-6 text-center">
         <app-card title="Brusselaers" description="ik heb gemetst"></app-card>
      </div>
      <div class="col-6 text-center">
         <app-card title="Prefaco" description="ik wou zelfmoord plegen"></app-card>
      </div>
      <div class="col-6 text-center">
         <app-card title="Martin Hoeben" description="martin stonk"></app-card>
      </div>
      <div class="col-6 text-center">
         <app-card title="Farm Frites" description="luc flipte"></app-card>
      </div>
   </div>
</div>