<h3 class="handtekening">Warre Heeren</h3>
<h5>EXPERIENCE</h5>
<div class="container">
    <div class="row">
        <div class="col-6 text-center">
            <div class="kaart">
                <h4>BRUSSELAERS LUC</h4>
                <P></P>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="kaart">
                 <h4>PREFACO</h4>
               
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="kaart">
                <h4>STANNY HEYLEN</h4>
               
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="kaart">
                 <h4>MARTIN HOEBEN</h4>
                
            </div>
        </div>


    </div>

</div>
