<div class="navbar">
   <img src="../../assets/warre.png" class="navbar__image">
   <a class="navbar__item" routerLink="/about" routerLinkActive="navbar__item--active">
      <i class="fas fa-user navbar__icon"></i>
      About me
   </a>
   <a class="navbar__item" routerLink="/interests" routerLinkActive="navbar__item--active">
      <i class="fas fa-futbol navbar__icon"></i>
      Interests
   </a>
   <a class="navbar__item" routerLink="/experience" routerLinkActive="navbar__item--active">
      <i class="fas fa-briefcase navbar__icon"></i>
      Job Experience
   </a>
   <a class="navbar__item" routerLink="/skills" routerLinkActive="navbar__item--active">
      <i class="fas fa-thumbs-up navbar__icon"></i>
      Skills
   </a>
</div>